---
import GitHub from "../icons/GitHub.astro";
import Link from "../icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import TechnologyPill from "./TechnologyPill.astro";

const PROJECTS = [
   {
      title: "Hacker Stories",
      description:
         "Hacker News Client Cliente avanzado de noticias desarrollado con React y TanStack Query. Implementé una arquitectura escalable con scroll infinito, persistencia de favoritos, gestión de historial de búsqueda y navegación optimizada con React Router. Foco total en la experiencia de usuario mediante fallbacks y estados de carga.",
      link: "https://hacker-news-36e33-62875.web.app",

      github: "https://github.com/santiagogoncalvez/hacker-stories",

      image: "/project-hacker-stories-dark.png",
      tags: ["typescript", "React", "ReactQuery", "ReactRouter", "vite"],
   },
   {
      title: "Tech Test: Data Management Dashboard",
      description:
         "Dashboard de usuarios con filtrado avanzado, ordenación multicapa y recuperación de datos. Enfocado en optimización de rendimiento y manejo de estado asíncrono.",
      link: "https://userops-dashboard.web.app",
      github:
         "https://github.com/santiagogoncalvez/midudevs-react-course/tree/main/projects/11b-typescript-prueba-tecnica-with-reacty-query",
      image: "/project-typescript-test-with-react-query-dark.png",
      tags: ["typescript", "React", "ReactQuery", "vite"],
   },
   {
      title: "Admin User Management System",
      description:
         "CRUD profesional desarrollado con Redux Toolkit para un estado global robusto. Incluye diseño de interfaz con Tremor, tipado estricto y un sistema de Rollback optimista para garantizar la integridad de los datos.",
      link: "https://core-crud-interface.web.app",

      github:
         "https://github.com/santiagogoncalvez/midudevs-react-course/tree/main/projects/10-crud-redux",

      image: "/projec-core-crud-interface-dark.png",
      tags: ["typescript", "React", "ReduxToolkit", "vite"],
   },
   {
      title: "JavaScript Quiz Master",
      description:
         "Aplicación de trivias técnica desarrollada para demostrar la gestión de estado ligero con Zustand y el manejo de tipos con TypeScript.",
      link: "https://javascript-quiz-santiago.web.app",
      github:
         "https://github.com/santiagogoncalvez/midudevs-react-course/tree/main/projects/13-typescript-quizz",
      image: "/project-javascript-quiz-dark.png",
      tags: ["typescript", "zustand", "react", "vite"],
   },
   {
      title: "Tú País - Página de adivinanzas de banderas",
      description:
         "Juego interactivo de banderas desarrollado en Vanilla JavaScript, con arquitectura inspirada en Flux. Implementa estado global, routing por hash y un sistema de gamificación basado en reconocimiento visual, priorizando una experiencia de usuario ágil y fluida.",
      link: "https://santiagogoncalvez.github.io/tupais/",
      github: "https://github.com/santiagogoncalvez/tupais",
      image: "/project-tu-pais-dark.png",
      tags: ["javascript", "html5", "css", "vite"],
   },
];
---

<div class="flex flex-col gap-y-18">
   {
      PROJECTS.map(
         ({ image, title, description, tags, link, github }, index) => (
            <article
               class={`flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 ${index % 2 === 0 ? "" : "md:flex-row-reverse"}`}
            >
               <div
                  class={`w-full md:w-1/2 ${index % 2 === 0 ? "mr-10" : "ml-10"} `}
               >
                  <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-3xl sm:rounded-3xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-border-light lg:hover:border-border-strong lg:hover:bg-gray-50/50">
                     <img
                        alt="Recién llegado vs 5 años en Nueva Zelanda"
                        class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                        loading="lazy"
                        src={image}
                     />
                  </div>
               </div>

               <div class="w-full md:w-1/2 md:max-w-lg">
                  <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
                     {title}
                  </h3>
                  <div class="flex flex-wrap mt-2">
                     <TechnologyPill techs={tags} />

                     <div class="mt-2 text-border-strong dark:text-text">
                        {description}
                     </div>
                     <footer class="flex items-end justify-start mt-4 gap-x-4">
                        {github && (
                           <LinkButton href={github}>
                              <GitHub class="size-6" />
                              Code
                           </LinkButton>
                        )}
                        {link && (
                           <LinkButton href={link}>
                              <Link class="size-4" />
                              Preview
                           </LinkButton>
                        )}
                     </footer>
                  </div>
               </div>
            </article>
         )
      )
   }
</div>
